<mat-drawer-container xmlns:padding="http://www.w3.org/1999/xhtml">
  <mat-divider></mat-divider>
  <br />
  <div fxFlex="200" fxLayoutAlign="center" class="item">
    <mat-card>
      <mat-card-title>Top Port Traffic Used</mat-card-title>
      <mat-card-subtitle>From </mat-card-subtitle>
    </mat-card>
    <br />
  </div>
  <br />

  <mat-card fxFlex="90">
    <mat-card-title>Objective : Port Traffic Analysis</mat-card-title>
    <mat-card-content>
      <p>
        The following gives information about the Port Traffic through metrics from Netflow Logs depicted in tabular representations of
        ingoing and outgoing traffic, area charts of the same and comparison from different points in time.
      </p>
    </mat-card-content>
  </mat-card>

  <!--      <div class="text">
        <h4>{{ label }}</h4>

        <span class="total">{{ total }}</span>

        <span>
        <mat-icon color="primary"></mat-icon>
    </span>

        <span class="description">
        {{ percentage }}%
    </span>

        <span> of target</span>
      </div>-->

  <div class="widget">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptionsCard" style="width: 100%; height: 60px; display: block">
    </highcharts-chart>
  </div>

  <br />
</mat-drawer-container>
