<mat-drawer-container xmlns:padding="http://www.w3.org/1999/xhtml">
  <mat-divider></mat-divider>
  <br />
  <div fxFlex="200" fxLayoutAlign="center" class="item">
    <mat-card>
      <mat-card-title>Top Port Traffic Used</mat-card-title>
      <mat-card-subtitle>From {{ getTodayDate() }}</mat-card-subtitle>
    </mat-card>

    <br />
  </div>

  <mat-card fxFlex="90">
    <mat-card-title>Objective : Port Traffic Analysis</mat-card-title>
    <mat-card-content>
      <p>
        The following gives information about the Port Traffic through metrics from Netflow Logs depicted in tabular representations of
        ingoing and outgoing traffic, area charts of the same and comparison from different points in time.
      </p>
    </mat-card-content>
  </mat-card>
  <br />

  <mat-card>
    <!--      <app-widget-area [data]="bigChart"></app-widget-area>-->
  </mat-card>

  <highcharts-chart
    [Highcharts]="Highcharts"
    [options]="chartOptions"
    style="width: 100%; height: 400px; display: block"
  ></highcharts-chart>

  <mat-card fxFlex="90">
    <mat-card-title>Table For Outgoing Traffic (Bytes & Packets No)</mat-card-title>
  </mat-card>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">
      <!-- Position Column -->
      <ng-container matColumnDef="portname">
        <th mat-header-cell *matHeaderCellDef>Port Name</th>
        <td mat-cell *matCellDef="let element">{{ this.giveProperAcronym(element.portName) }}</td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="OutgoingBytesSum">
        <th mat-header-cell *matHeaderCellDef>Outgoing Bytes Sum</th>
        <td mat-cell *matCellDef="let element">{{ element.outgoingBytesSum }}</td>
      </ng-container>

      <ng-container matColumnDef="OutgoingPacketsSum">
        <th mat-header-cell *matHeaderCellDef>Outgoing Bytes Sum</th>
        <td mat-cell *matCellDef="let element">{{ element.outgoingPacketsSum }}</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
  </div>
</mat-drawer-container>

<br />
