<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-trap-heading" data-cy="TrapCreateUpdateHeading">Create or edit a Trap</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_date">Date</label>
          <div class="input-group">
            <input
              id="field_date"
              data-cy="date"
              type="text"
              class="form-control"
              name="date"
              ngbDatepicker
              #dateDp="ngbDatepicker"
              formControlName="date"
            />
            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_time">Time</label>
          <input type="text" class="form-control" name="time" id="field_time" data-cy="time" formControlName="time" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_trap">Trap</label>
          <input type="text" class="form-control" name="trap" id="field_trap" data-cy="trap" formControlName="trap" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_values">Values</label>
          <input type="text" class="form-control" name="values" id="field_values" data-cy="values" formControlName="values" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_trigger">Trigger</label>
          <input type="text" class="form-control" name="trigger" id="field_trigger" data-cy="trigger" formControlName="trigger" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
