<div>
  <h2 id="page-heading" data-cy="TrapHeading">
    <span>Traps</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-trap"
        [routerLink]="['/trap/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Trap </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="traps?.length === 0">
    <span>No traps found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="traps && traps.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="date"><span>Date</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="time"><span>Time</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trap"><span>Trap</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="values"><span>Values</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="trigger"><span>Trigger</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let trap of traps; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/trap', trap.id, 'view']">{{ trap.id }}</a>
          </td>
          <td>{{ trap.date | formatMediumDate }}</td>
          <td>{{ trap.time }}</td>
          <td>{{ trap.trap }}</td>
          <td>{{ trap.values }}</td>
          <td>{{ trap.trigger }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button type="submit" [routerLink]="['/trap', trap.id, 'view']" class="btn btn-info btn-sm" data-cy="entityDetailsButton">
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button type="submit" [routerLink]="['/trap', trap.id, 'edit']" class="btn btn-primary btn-sm" data-cy="entityEditButton">
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(trap)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="traps && traps.length > 0">
    <div class="d-flex justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="d-flex justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
