<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-netflow-heading" data-cy="NetflowCreateUpdateHeading">Create or edit a Netflow</h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" [hidden]="editForm.get('id')!.value == null">
          <label class="form-label" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dateFirstSeen">Date First Seen</label>
          <div class="input-group">
            <input
              id="field_dateFirstSeen"
              data-cy="dateFirstSeen"
              type="text"
              class="form-control"
              name="dateFirstSeen"
              ngbDatepicker
              #dateFirstSeenDp="ngbDatepicker"
              formControlName="dateFirstSeen"
            />
            <button type="button" class="btn btn-secondary" (click)="dateFirstSeenDp.toggle()">
              <fa-icon icon="calendar-alt"></fa-icon>
            </button>
          </div>
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_timeFirstSeen">Time First Seen</label>
          <input
            type="text"
            class="form-control"
            name="timeFirstSeen"
            id="field_timeFirstSeen"
            data-cy="timeFirstSeen"
            formControlName="timeFirstSeen"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_duration">Duration</label>
          <input type="number" class="form-control" name="duration" id="field_duration" data-cy="duration" formControlName="duration" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_protocol">Protocol</label>
          <input type="text" class="form-control" name="protocol" id="field_protocol" data-cy="protocol" formControlName="protocol" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_srcIp">Src Ip</label>
          <input type="text" class="form-control" name="srcIp" id="field_srcIp" data-cy="srcIp" formControlName="srcIp" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_dstIp">Dst Ip</label>
          <input type="text" class="form-control" name="dstIp" id="field_dstIp" data-cy="dstIp" formControlName="dstIp" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_flags">Flags</label>
          <input type="text" class="form-control" name="flags" id="field_flags" data-cy="flags" formControlName="flags" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_tos">Tos</label>
          <input type="number" class="form-control" name="tos" id="field_tos" data-cy="tos" formControlName="tos" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_packetNo">Packet No</label>
          <input type="number" class="form-control" name="packetNo" id="field_packetNo" data-cy="packetNo" formControlName="packetNo" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bytes">Bytes</label>
          <input type="text" class="form-control" name="bytes" id="field_bytes" data-cy="bytes" formControlName="bytes" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_pps">Pps</label>
          <input type="text" class="form-control" name="pps" id="field_pps" data-cy="pps" formControlName="pps" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bps">Bps</label>
          <input type="text" class="form-control" name="bps" id="field_bps" data-cy="bps" formControlName="bps" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_bpp">Bpp</label>
          <input type="text" class="form-control" name="bpp" id="field_bpp" data-cy="bpp" formControlName="bpp" />
        </div>

        <div class="row mb-3">
          <label class="form-label" for="field_flows">Flows</label>
          <input type="text" class="form-control" name="flows" id="field_flows" data-cy="flows" formControlName="flows" />
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
